# # # # # # # #
#   K i k o   #
# # # # # # # #

# Basic
name:               ""
title:              ""
description:        ""


# URL
url:                https://VIDA-NYU.github.io/BDF
baseurl:            
#baseurl:            "" #For Root Domain
permalink:          /:year/:month/:day/:title.html

# Markdown
markdown:           kramdown

# Highlighter
highlighter:        rouge

# Navigation
nav:
  - name:           "home"
    href:           "/"
  - name:           "about"
    href:           "/about"
  - name:           "tools"
    href:           "/tools"
  - name:           "publications"
    href:           "/publications"
  - name:           "team"
    href:           "/team"
#  - name:           "blog"
#    href:           "/blog"
  

# Sass
sass:
  style:            :compressed

# Scopes
defaults:
  -
    scope:
      path:         ""
      type:         "pages"
    values:
      layout:       "page"
  -
    scope:
      path:         ""
      type:         "posts"
    values:
      layout:       "post"
  -
    scope:
      path:         ""
      type:         "people"
    values:
      layout:       "profile"


collections:
  people:
    output: true
    permalink: /people/:title/index.html
